.user-info {
  background-color: var(--app-white-tr);
  padding: 0;

}
.user-info h3{
  text-align: center;
}
.user-info span {
  display: block;
  font-size: .5em;
}
.user-info h4 {
  border-bottom: 1px solid var(--app-gray);
  color: var(--app-blue);
  margin-bottom: 1em;
}
.user-info h5 {
  background-color: var(--app-blue-tr);
  color: var(--app-white);
  font-weight: bold;
}
.user-info p {
  background-color: var(--app-white-tr);
  font-size: .75em;
  margin:.5em 0 0 0;
}
strong {
  width: 6em;
  /* font-family: 'Courier New', Courier, monospace; */
}
@media (min-width: 476px) {
}
@media (min-width: 640px) {
  .user-info {
    padding: .5em 2.5%;
  }
  .user-info p {
    margin:.5em 0 0 2em;
    text-indent: -1em;
  }
  strong {
    display: inline-block;
  }
  .user-info {
    padding: .5em 5%;
  }
}
@media (min-width: 768px) {
  .user-info {
    padding: .5em 10%;
  }
}