form, fieldset, label, select, input, textarea, button {
  border-radius: var(--corners);
  color: var(--app-blue);
}
form, fieldset, select, input, textarea, button {
  border: 1px solid var(--app-gray-superlight-tr);
}
form {
  border: 1px solid var(--app-blue);
  margin: 1rem auto;
  padding: 0.125rem;
  background-color: var(--app-white-tr);
}
fieldset {
  padding: 0 0 1rem;
}

legend {
  margin-left: 0;
  padding-left: 0;
  font-size: 2rem;
}
select {
  color: var(--app-white);
  font-weight: bold;
  border: 1px solid var(--app-green);
  margin: 0;
  width: 100%;
  cursor: pointer;
  line-height: 1.25;
  width: 100%;
  padding: .5em .75em;
  outline: none;
  background-color: var(--app-white-tr);
  background-image: linear-gradient(45deg, var(--app-brown-dark-tr), var(--app-green-tr));
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  font-size: 1.25rem;
}
input, textarea {
  background-color: var(--app-white);
  padding: .5em;
  width: 100%;
  margin-bottom: .75rem;
  border: 1px solid var(--app-blue);
  line-height: 2.25rem;
  color: var(--app-brown);
  font-size: 1rem;
}
textarea {
  height: 5.5rem;
}
button[type="submit"] {
  width: 100%;
}

label {
  display: block;
  margin-top: .5em;
  font-size: 1.5rem;
}
label:first-child {
  margin-top: 0;
}

button[type="submit"] {
  background: radial-gradient(circle, var(--app-gray-superlight), var(--app-brown));
  padding: 1.5rem .5rem;
  color: var(--app-brown-dark);
  font-size: 2rem;
  font-weight: bold;
  border-color: var(--app-brown-tr);
}
button[type="submit"]:hover, button[type="submit"]:focus {
  background: radial-gradient(circle, var(--app-green), var(--app-blue));
  color: var(--app-white);
  border-color: var(--app-blue-tr);
}
.route-selected {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.route-selected p{
  /* flex: 100%; */
  display: inline-block;
  margin:0;
  font-size: .75em;
}

.direction-text {
  display: inline-block;
  padding: 0 1rem;
}
.instructions {
  font-size: .75em;
}
.required {
  color: var(--app-red);
}
@media (min-width: 24rem) {
  .route-selected {
    flex-direction: row;
  }
  /* .route-selected p {
    flex: 50%;
  } */
}
@media (min-width: 300px) {
  form {
    width: 100%;
    padding: 1rem;
    transition: all .2s;
  }
}
@media (min-width: 640px) {
  form {
    width: 90%;
  }
}
@media (min-width: 700px) {
  form {
    width: 80%;
  }
}
@media (min-width: 960px) {
  form {
    width: 70%;
  }
}
@media (min-width: 1100px) {
  form {
    width: 60%;
  }
}
