input[type="radio"]{
  appearance: none;
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-button-label.radio-type-select {
  text-transform: capitalize;
  display: block;
  text-align: center;
  margin: 0 0 1rem;
  padding: 1.25em .125em;
  border: 1px solid var(--app-blue);
  font-size: .75em;
}

input[type="radio"]:focus + label {
  border: 2px solid var(--app-green);
  box-shadow: 0 0 4px var(--app-green);
}
.radio-button-label.radio-type-select:hover {
  background: linear-gradient(45deg, var(--app-gray-superlight), var(--app-green));
  color: var(--app-white);
}
.radio-button-label.radio-type-select:active, input[type="radio"]:checked + label {
  background: linear-gradient(45deg, var(--app-blue), var(--app-green));
  border-color:var(--app-green);
  color: var(--app-white);
}

@media (min-width:300px) {
  .radio-button-label.radio-type-select {
    font-size: .5em;
    padding: 1em .5em;
    width: 44%;
    display: inline-block;
    margin: 0 4% 1rem;
    transition: all .5s;
    font-size: .75em;
  }
  .radio-button-label.radio-type-select:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (min-width:480px) {
  .radio-button-label.radio-type-select {
    font-size: .65em;
    padding: 1em 0;
    width: 22%;
    display: inline-block;
    margin: 0;
    margin-right: 4%;
    transition: all .5s;
  }
  .radio-button-label.radio-type-select:nth-of-type(n) {
    margin-right: 4%;
  }
  .radio-button-label.radio-type-select:last-child {
    margin-right: 0;
  }
}