caption {
  color: var(--app-blue);
  font-weight: bold;
  width: 80vw;
}

table, thead, tbody, tr, th, td {
  display:block;
}

thead tr {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
tr {
  font-size: .5em;
  background-color: rgba(242,242,242, 0.925);
}
tr:nth-of-type(odd) {
  background-color: var(--app-gray-light);
}
td {
  margin-top: .5em;
  border: none;
  border-bottom: 1px solid var(--app-gray-light);
  position: relative;
  padding-left: 50%;
}
td::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  vertical-align: -50%;
}

/* th replacement labels */
	td:nth-of-type(1):before { content: "Date"; }
	td:nth-of-type(2):before { content: "Type"; }
	td:nth-of-type(3):before { content: "Description"; }
	td:nth-of-type(4):before { content: "Train"; }
	td:nth-of-type(5):before { content: "Direction"; }
	td:nth-of-type(6):before { content: "Car Number"; }
	td:nth-of-type(7):before { content: "Votes"; }

.vote {
  font-size: 2em;
  display: inline-block;
  width: 40%;
  border: 1px solid var(--app-gray-light);
  text-align: center;
  padding: 0;
}

/* Bring back normal table display */
@media (min-width: 54em) {
  table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  thead {
    display: table-header-group;
  }
  tbody {
    display: table-row-group;
  }
  thead tr {
    position: static;
    top: auto;
    left: auto;
  }
  tr {
    display: table-row;
  }
  tr:nth-child(odd) {
    background-color: var(--app-gray-superlight);
  }
  th, td {
    display: table-cell;
    padding: .25em .5em;
    border-bottom: 1px solid var(--app-brown);
  }
  th {
    background-color: var(--app-brown-dark);
    color: var(--app-white);
  }
  td:before {
    content: none;
    display: none;
  }
}